body {
    background-color: rgb(230,230,230);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}